
                            #container{
                                        background-color:rgba(211, 211, 211, 0.589);
                                        box-sizing: border-box;
                                        display:block;
                                        width:auto;
                                        height:100%;
                                        margin-bottom: auto;
                                        border:thin;
                                        line-height:1.0;
                                        padding: 0%;
                                        }
                            .topmost{
                                    height: 30px;
                                    width:100%;
                                    background-color:#FFFFFF;
                                    color: #000000;
                                    font-family: 'Times New Roman', Times, serif;
                                    font-size: 14px;
                                    display: block;
                                    margin-top:20px;
                                    margin-left: auto;
                                    margin-right: auto;
                                    border:10px;
                                    padding: 20px;
                                
                                    
                                }
                            a{
                                text-decoration: none;
                                color:black;
                            }
                            a :visited{
                                color:burlywood;
                            }
                            a:hover{
                                color:burlywood;
                            }
                            .search{
                                background-color: #FFFFFF;
                                color: #000000;
                                font-family: 'Times New Roman', Times, serif;
                                font-size: 14px;
                                display: block;
                                margin-left: auto;
                                margin-right: auto;
                                border: thin;
                                padding: 20px;
                                height: 100px;
                                width:100%;
                                margin-top: 2px;
                            

                            }
                            .nav{
                                height: 50px;
                                width:100%;
                                background-color:deeppink;
                                color:#FFFFFF;
                                font-family: 'Times New Roman', Times, serif;
                                font-size: 14px;
                                display: block;
                                margin:0,auto;
                                border:10px;
                                padding-top: 20px;
                                padding-bottom: 20px;
                                padding-left: 20px;
                                box-sizing: border-box;
                            }
                            a {
                                margin: 10px;
                                padding: 10px;
                            }
                            #footer{
                                font-family:Georgia, "Times New Roman", Times, serif;
                                font-size:14px;
                                color:#FFFFFF;
                                background-color:#000000;
                                box-sizing: border-box;
                                width:100%;
                                height:auto;
                                margin-bottom: auto;
                                margin-top: auto;
                                border:thin;
                                padding: 20px;
                                line-height:1.0;
                            }
                            .right{
                                float:right;
                            }
                            
                            
                            .searchbox{
                                height: 30px;
                                width: 50%;
                                margin: 0 auto;
                                position: absolute;
                                right: 250px;
                                top: 22%;
                            }
                            .searchbutton{
                                border-radius:0px;
                                color:deeppink;
                                background-color:#FFFFFF; 
                                margin: 0 auto;
                                height: 30px;
                                position: absolute;
                                right: 250px;
                                top: 22%;
                                
                                
                                        
                            }
                            #picture{
                                background-color: #FFFFFF;
                                width: 100%;
                                float: left;
                                margin: 0,auto;
                                padding-left: 50px;
                            }
                            .image{
                                float: left;
                                width: auto;
                                margin-top: 10px;

                            }
        
                        .right-side-deal{
                            top: 282px;
                            position: absolute;
                            width: 250px;
                            margin-right:10px;
                         
                            height: 165px;
                        }
                        .right-side-deal2{
                        
                            width: 250px;
                            margin-right:10px;
                          
                            height: 165px;
                        }
                        #picx1{
                            margin-left: 20%;
                            margin-right: 0%;
                            margin-top: 0%;
                            display: inline;
                            width: 700px;

                        }
                        #picx{
                            background-color: #FFFFFF;
                            float: left;
                        }
                        #writeups{
                            display: block;
                            font-family: 'Times New Roman', Times, serif;
                            font-size: 14px;
                            line-height: 1.8;
                            padding: 20px;
                            text-align: justify;
                            color:rgb(23, 29, 23);
                        }

    
    