
body{
    padding: 0%;
    margin: 0%;
    background: url(it.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    width: 30%;
    height: auto;
    border: thin;
    border-radius: 5px;
    background-color:rgba(255, 0, 43, 0.4);
    padding: 30px;
    font-size: 14px;
    box-sizing: border-box;
    
}

p{
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    line-height: 0.1em;
}
.text{
width: 300px;
padding: 5px;
border: thin;
border-radius: 5px;

}
    
.button{
    border: 1px;
    padding: 2px;
    text-align: center;
    border-radius: 5px;
    background:purple;
    width: 200px;
    color: white;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}